body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #FAFAFA;
  box-sizing: border-box;
  width: 100%;
}

h2 {
  text-align: center;
}

/*Header*/

header {
  position: sticky;
  top: 0rem;
  z-index: 11;
}

.top-banner {
  background-color: #411016;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}

.menu-mobile {
  display: none;
}

.logo-buscador input {
  border-radius: 20px;
  padding: 1em;
  width: 100%;
  border: none;
}

.logo-buscador {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  background-color: #F4F4F4;
}

.logojuan {
  position: absolute;
  left: 8%;
  z-index: 2;
}

.buscar {
  position: relative;
  width: 40%;
  margin: 1.3vw;
}

.buscar::before {
  content: url(img/iconos/fi_search.svg);
  position: absolute;
  top: 9px;
  left: 4%;
  width: 2.1vw;
  height: 2.1vw;
  z-index: 1;
}

.buscar input[type="text"] {
  padding-left: 15%; 
}

/*Íconos cabecero*/

.iconos {
  display: flex;
  margin: 0 12%;
}

.iconos span {
  margin: 20%;
}

.iconos span:hover {
  cursor: pointer;
}

.corazon {
  content: url(img/iconos/corazon.svg);
}

.corazon:hover {
  content: url(img/iconos/corazon-rojo.svg);
}

.persona {
  content: url(img/iconos/persona.svg);
}

.persona:hover {
  content: url(img/iconos/persona-rojo.svg);
}

.carrito {
  content: url(img/iconos/carrito.svg);
}

.carrito:hover {
  content: url(img/iconos/carrito-rojo.svg);
}

/*Navegador*/

nav ul {
  background-color: #F4F4F4;
  list-style-type: none;
  margin: 0;
  padding: 1% 15%;
  display: flex;
  justify-content: space-around;
  color:#411016;
}

.navegador li {
  position: relative;
}

.navegador li:hover {
  cursor: pointer;
  color: #D70021;
  text-decoration: underline;
}

.productos li {
  margin: 0 5%;
  width: 100%;
  display: block;;
  align-items: center;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #F4F4F4;
  z-index: 2;
}

.submenu li {
  padding: 10% 0;
  
}

.submenu li:hover {
  color: #D70021;
  text-decoration: underline;
}

.productos:hover .submenu {
  display: block;
  left: -1.5vw;
  padding: 1vw 6vw 0.6vw 1vw;
  width: max-content;
}

/*Carrusel principal*/

.bannerprincipal {
  position: relative;
}

.swiper-container1 {
  width: 100%;
}

.swiper-slide1 {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.carruselprincipal {
  position: relative;
}

.imagenbannerprincipal {
  display: block;
  width: 100%;
  object-fit: cover;
}

.imagenbannerprincipalmobile {
  display: none;
}

.textocolombia {
  top: 4%;
  left: 12%;
  font-family: 'Bebas Neue', cursive;
  font-size: 7vw;
  line-height: 5vw;
  color: #FFFFFF;
  position: absolute;
}

.textodisfruta {
  top: 30%;
  left: 12%;
  font-family: 'Bebas Neue', cursive;
  font-size: 4vw;
  line-height: 5vw;
  padding: 0 1%;
  background: white;
  color: black;
  mix-blend-mode: lighten;
  position: absolute;
}

.carruselprincipal-boton {
  position: absolute;
  top: 72%;
  left: 12%;
  color: #FFFFFF;
  background-color: #D70021;
  width: 180px;
  padding: 15px;
  border: none;
  border-radius: 7.7vw;
  font-family: 'Lato', sans-serif;
}

.carruselprincipal-boton:hover {
  background-color: #411016;
  cursor: pointer;
}

.swiper-button-prev1 {
  content: url(img/boton-prev.png);
  width: fit-content;
  right: auto;
  left: 3%;
  top: 50%;
}

.swiper-button-next1 {
  content: url(img/boton-next.png);
  width: fit-content;
  right: 3%;
  left: auto;
  top: 50%;
}

.swiper-button-next1:active {
content: url(img/boton-next-click.png);
}

.swiper-button-prev1:active {
content: url(img/boton-prev-click.png);
}

.swiper-pagination1 .swiper-pagination-bullet {
background: none;
opacity: 1;
border: 1px solid #FFFFFF;
}

.swiper-pagination1 .swiper-pagination-bullet-active {
border: 1px solid #C5292C;
background-color: #C5292C;
}

/*Banner1*/

.banner1-mobile {
  display: none;
}

.banner1 {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
}

.banner1 img {
  margin: 2% 1%;
  border-radius: 5%;
}

.swiper-container-banner1 {
  width: 100%;
  height: 100%;
}

.swiper-slide-banner1 {
  text-align: center;
  font-size: 18px;
  width: 60%;
  margin: 0 3%;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide-banner1 img {
  display: block;
  object-fit: cover;
  margin: 2% 1%;
  border-radius: 5%;
}

.swiper-pagination-banner1 {
  bottom: 2%;
}

.bannercomparte {
  position: relative;
  margin: 3% 1%;
  width: 332px;
}

.bannercomparte:hover {
  cursor: pointer;
}

.bannercomparte:hover .banner1-boton {
  display: block;
  cursor: pointer;
}

.textocomparte {
  position: absolute;
  top: 10%;
  left: 40%;
  z-index: 3;
}

.textorecetas {
  position: absolute;
  top: 9%;
  left: 8%;
  z-index: 3;
}

.textoconoce {
  position: absolute;
  top: 44%;
  left: 6%;
  z-index: 3;
}

.banner1-boton {
  display: none;
  position: absolute;
  top: 80%;
  left: 21%;
  color: #FFFFFF;
  background-color: #D70021;
  padding: 16px 60px;
  border: none;
  border-radius: 7.7vw;
  font-family: 'Lato', sans-serif;
  z-index: 3;
}

.banner1-boton:hover {
  background-color: #411016;
}

.background {
  display: none;
  width: 332px;
  height: 418px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 6px;
  left: 1%;
  z-index: 2;
  border-radius: 20px;
}

.bannercomparte:hover .background {
  display: flex;
  cursor: pointer;
}

/*Carrusel categorías*/

.carruselcategorias-mobile {
  display: none;
}

.carruselcategorias {
  position: relative;
  padding: 2% 10%;
  display: flex;
  justify-content: center;
  margin: 2% 0;
}

.swiper-container2 {
  width: 100%;
  height: 50%;
}

.swiper-slide2 {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide2 img {
  display: block;
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.swiper-button-prev2 {
  content: url(img/boton-prev.png);
  width: fit-content;
  right: auto;
  left: 3%;
  top: 50%;
}

.swiper-button-next2 {
  content: url(img/boton-next.png);
  width: fit-content;
  right: 3%;
  left: auto;
  top: 50%;
}

.swiper-button-next2:active {
  content: url(img/boton-next-click.png);
}

.swiper-button-prev2:active {
  content: url(img/boton-prev-click.png);
}

.swiper-pagination-bullet {
  background: none;
  opacity: 1;
  border: 1px solid #000000;
}

.swiper-pagination-bullet-active {
  border: 1px solid #C5292C;
  background-color: #C5292C;
}

/*Carrusel productos recomendados*/

.carruselproductosrecomendados {
  position: relative;
  padding: 2% 10%;
  display: flex;
  justify-content: center;
}

.swiper-container3 {
  width: 100%;
  height: 50%;
}

.swiper-slide3 {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide3 img {
  display: block;
  width: 95%;
  height: 80%;
  object-fit: cover;
}

.swiper-button-prev3 {
  content: url(img/boton-prev.png);
  width: fit-content;
  right: auto;
  left: 3%;
  top: 50%;
}

.swiper-button-next3 {
  content: url(img/boton-next.png);
  width: fit-content;
  right: 3%;
  left: auto;
  top: 50%;
}

.swiper-button-next3:active {
  content: url(img/boton-next-click.png);
}

.swiper-button-prev3:active {
  content: url(img/boton-prev-click.png);
}

/*Estilo productos*/

.productohome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4%;
}

.fotoproducto {
  position: relative;
  display: flex;
  justify-content: center;
}

.fotoproducto img {
  position: relative;
  border-radius: 20px;
}

.corazonproducto {
  position: absolute;
  top: 5%;
  right: 6%;
  cursor: pointer;
}

.vistapreviaback {
  display: none;
  width: 95%;
  height: 16%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
}

.vistapreviaback p {
  color: #FFFFFF;
  font-weight: 700;
}

.avisoahorro {
  position: absolute;
  top: 3%;
  left: 5%;
  background: #C5292C;
  border-radius: 7.7vw;
  border: none;
  color: white;
  padding: 2% 5%;
  font-weight: bold;
}

.nombreproducto, .precioproducto {
  color: #000000;
}

.textocategoria {
  color: #777777;
  font-weight: bold;
}

.precioproducto {
  word-spacing: .5rem;
}

.precioproducto span {
  color: #BDBDBD;
  text-decoration-line: line-through;
}

.productohome p {
  margin: 3% 0;
}

.productohome-boton {
  color: #FFFFFF;
  background-color: #D70021;
  width: 180px;
  height: 45px;
  border: none;
  border-radius: 100px;
  font-size: .8em;
  margin: 2%;
}

.productohome-boton:hover {
  background-color: #411016;
  cursor: pointer;
}

.fotoproducto:hover .vistapreviaback {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fotoproducto:hover .avisoahorro {
  display: none;
}

.productohome:hover .precioanterior {
  display: none;
}

/*Sobre Juan Valdez*/

.sobrejuanvaldez img {
  width: 90%;
  margin: 3% 5%;
}

/*Carrusel nuevos lanzamientos*/

.carruselnuevoslanzamientos {
  position: relative;
  padding: 2% 10%;
  display: flex;
  justify-content: center;
}

.swiper-container4 {
  width: 100%;
  height: 50%;
}

.swiper-slide4 {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide4 img {
  display: block;
  width: 95%;
  height: 80%;
  object-fit: cover;
}

.swiper-button-prev4 {
  content: url(img/boton-prev.png);
  width: fit-content;
  right: auto;
  left: 3%;
  top: 50%;
}

.swiper-button-next4 {
  content: url(img/boton-next.png);
  width: fit-content;
  right: 3%;
  left: auto;
  top: 50%;
}

.swiper-button-next4:active {
  content: url(img/boton-next-click.png);
}

.swiper-button-prev4:active {
  content: url(img/boton-prev-click.png);
}

/*Estilo productos*/

.productohome2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4%;
}

.fotoproducto2 {
  position: relative;
  display: flex;
  justify-content: center;
}

.fotoproducto2 img {
  position: relative;
}

.corazonproducto2 {
  position: absolute;
  top: 5%;
  right: 6%;
  cursor: pointer;
}

.vistapreviaback2 {
  display: none;
  width: 95%;
  height: 16%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
}

.vistapreviaback2 p {
  color: #FFFFFF;
  font-weight: 700;
}

.avisoahorro2 {
  position: absolute;
  top: 3%;
  left: 5%;
  background: #C5292C;
  border-radius: 7.7vw;
  border: none;
  color: white;
  padding: 2% 5%;
  font-weight: bold;
}

.nombreproducto2, .precioproducto2 {
  color: #000000;
}

.textocategoria2 {
  color: #777777;
  font-weight: bold;
}

.precioproducto2 {
  word-spacing: .5rem;
}

.precioproducto2 span {
  color: #BDBDBD;
  text-decoration-line: line-through;
}

.productohome2 p {
  margin: 3% 0;
}

.productohome-boton2 {
  color: #FFFFFF;
  background-color: #D70021;
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 7.7vw;
  font-family: 'Lato', sans-serif;
  margin: 2%;
}

.productohome-boton2:hover {
  background-color: #411016;
  cursor: pointer;
}

.fotoproducto2:hover .vistapreviaback2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fotoproducto2:hover .avisoahorro2 {
  display: none;
}

.productohome2:hover .precioanterior2 {
  display: none;
}

/*Footer*/

footer {
  color: #411016;
  background-color: #F4F4F4;
  border-radius: 1.7vw 1.7vw 0 0;
  line-height: 2em;
}

footer p {
  text-align: center;
}

/*Suscripción*/

.suscripcion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2% 3%;
}

.suscripcion p {
  width: 23%;
}

.suscripcion p span {
  color: #C5292C;
  font-weight: bold;
  font-size: 1.2em;
}

.suscripcion img {
  margin: 10%;
}

.inscripcion {
  width: 41%;
}

.inscripcion #email {
  padding: 2% 45% 2% 3%;
  margin: 0;
  border: 0.06vw solid #E0E0E0;
}

.inscripcion #enviar {
  background: #C5292C;
  color: white;
  font-weight: bold;
  padding: 2% 3%;
  margin: 0;
  border: none;
  border-radius: 0 7vw 7vw 0;
}

.inscripcion #enviar:hover {
  background: #411016;
  cursor: pointer;
}

.enviocorreo {
  display: flex;
}

/*Checkbox acepto términos y condiciones*/

.contenedor-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
}

.contenedor-checkbox input {
  opacity: 0;
  cursor: pointer;
}

.contenedor-checkbox .checkmark {
  position: absolute;
  top: 19%;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #C5292C;
  border-radius: 20px;
}

.contenedor-checkbox input:checked ~ .checkmark {
  background-color: #C5292C;
  border: 1px solid #C5292C;
  border-radius: 20px;
}

.contenedor-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.contenedor-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.contenedor-checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Síguenos*/
.siguenos {
  width: 12%;
}

.siguenos h4 {
  text-align: center;
  margin: 3%;
  font-size: 1.2em;
}

/*Íconos footer*/

.siguenos span {
  margin: 0 3.5%;
  height: 1.2vw;
}

.siguenos span:hover {
  cursor: pointer;
}

.facebook {
  content: url(img/iconos/facebook.svg);
}

.facebook:hover {
  content: url(img/iconos/facebook-rojo.svg);
}

.instagram {
  content: url(img/iconos/instagram.svg);
}

.instagram:hover {
  content: url(img/iconos/instagram-rojo.svg);
}

.whatsapp {
  content: url(img/iconos/whatsapp.svg);
}

.whatsapp:hover {
  content: url(img/iconos/whatsapp-rojo.svg);
}

.youtube {  
  content: url(img/iconos/youtube.svg);
}

.youtube:hover {  
  content: url(img/iconos/youtube-rojo.svg);
}

.tiktok {  
  content: url(img/iconos/tiktok.svg);
}

.tiktok:hover {  
  content: url(img/iconos/tiktok-rojo.svg);
}

/*Footer contacto*/

.contacto {
  display: flex;
  justify-content: space-evenly;
}

.contacto li:hover {
  color: #C5292C;
  cursor: pointer;
}

.logosinfondo {
  height: 20%;
  width: 20%;
  align-self: center;
}

.telefono {
  content: url(img/iconos/telefono.svg);
  margin: 0 3% 0 0;
}

.columnas ul {
  list-style-type: none;
  padding: 0;
}

.columnas__ubicacion {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.ubicacion {
  content: url(img/iconos/ubicacion.svg);
}

select {
  border: none;
  background: transparent;
  color: #411016;
  display: flex;
  padding: 3%;
}

/*Footer medios de pago*/

.medios-pago {
  display: flex;
  justify-content: center;
}

.medios-pago-imagenes {
  width: 78%;
  display: flex;
}

.medios-pago-imagenes img {
  margin: 0 1%;
}

.logosinfondo-mobile {
  display: none;
}


/*Página compra productos*/

/*Encabezado*/
.cabecero-compra-productos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #411016;
  padding: 1% 5%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

.cabecero-compra-productos img {
  height: 20%;
  width: 16%;
  align-self: center;
}

.ayuda {
  width: 20%;
}

.ayuda p {
  display: flex;
  justify-content: flex-end;
  margin: 5%;
}

.texto-rojo {
  color: #D70021;
}

.telefono-rojo {
  content: url(img/iconos/telefono-rojo.svg);
  margin: 0 3% 0 0;
}

.volver {
  margin: 2% 6%;
}

.volver a, .volver pre {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  color: #000000;
}

/*Tabla pedido*/
.compraproductos {
  display: flex;
  margin: 2% 6%;
}

.tabla-pedido {
  margin: 0 2% 0 0;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

.tabla-pedido-mobile {
  display: none;
}

.resumen-productos {
  margin: 2% 0;
}

.resumen-productos:last-child {
  padding: 0 0 6% 0;
}

.contenidoproductos {
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
}

.contenidoproductos h4 {
  margin: 3% 2% 1%;
}

.contenidoproductos h4:nth-child(1) {
  width: 53%;
}

.contenidoproductos h4:nth-child(2) {
  width: 20%;
}

.contenidoproductos h4:nth-child(3) {
  width: 26%;
}

.contenidoproductos h4:nth-child(4) {
  width: 23%;
}

.detalle-productos {
  display: flex;
  align-items: center;
}



.detalle-productos p {
  margin: 5%;
}

.detalle-productos:nth-child(1) {
  width: 34%;
}

.detalle-productos:nth-child(1) div p:nth-child(2) {
  color: #BDBDBD;
}

.detalle-productos:nth-child(2) {
  width: 8%;
}

.detalle-productos:nth-child(3) {
  width: 15%;
  justify-content: space-evenly;
}

.detalle-productos:nth-child(4) {
  width: 20%;
  justify-content: space-between;
}

.detalle-productos button {
  background-color: #E0E0E0;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  font-size: 1em;
  cursor: pointer;
}

.detalle-productos button:hover {
  background-color: #C5292C;
  color: #FFFFFF;
}

.detalle-productos button:active {
  background-color: #4A4A4A;
}

.precio-descuento {
  text-decoration: line-through;
  color: #BDBDBD;
}

.tabla-pedido hr {
  width: 95%;
  border: 1px solid #BDBDBD;
  opacity: 0.2;
}

/*Resumen compra*/
.resumen-compra {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
}

.resumen-compra h4 {
  font-size: 1.4em;
  text-align: center;
}

.resumen-compra hr {
  width: 90%;
  border: 1px solid #BDBDBD;
  opacity: 0.2;
}

.resumen-compra p {
  text-align: center;
  color: #4A4A4A;
  margin: 2%;
}

/*.boton-codigodescuento {
  background: #FFFFFF;
  border: 1px solid #E06287;
  box-sizing: border-box;
  border-radius: 50px;
  color: #E06287;
  font-size: 1em;
  width: 300px;
  height: 38px;
  margin: 1%;
}*/

.boton-codigodescuento {
  background: #FFFFFF;
  border: 1px solid #E06287;
  box-sizing: border-box;
  border-radius: 50px;
  font-size: 1em;
  width: 300px;
  height: 38px;
  margin: 1%;
}

.boton-codigodescuento::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #E06287;
  opacity: 1; /* Firefox */
  text-align: center;
}

.boton-codigodescuento[type="text"]{
  text-align: center;
  color: #E06287;
}

.tiempo-costo-envio {
  display: flex;
  justify-content: space-evenly;
  width: 82%;
  margin: 2%;
}

.tiempo-costo-envio p {
  color: #777777;
}

.camion {
  content: url(img/iconos/camion.svg);
}

.elegir-domicilio-tienda {
  width: 90%;
  margin: 2% 0;
}

.botones-seleccion-domicilio-tienda {
  display: flex;
  justify-content: space-evenly;
}

.botones-seleccion-domicilio-tienda:hover{
  cursor: pointer;
}

.botones-seleccion-domicilio-tienda label {
  background: #F2F2F2;
  color: #4A4A4A;
  border: 1px solid #BDBDBD;
  border-radius: 50px;
  width: 146px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.15));
  transition: all 0.3s;
  cursor: pointer;
}

.botones-seleccion-domicilio-tienda input[type="radio"] {
  display: none;
}

.botones-seleccion-domicilio-tienda input[type="radio"]:checked + label {
  color: #411016;
  background: #FFFFFF;
  border: 1px solid #411016;
}

.total-precio {
  display: flex;
  width: 85%;
}

.valores-precio {
  width: 100%;
}

.valores-precio:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.valores-precio:nth-child(2) {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.valores-precio p:last-child {
  font-weight: bold;
  font-size: 1.3em;
  color: #000000;
}

/*Checkbox políticas de tratamientos de datos y términos y condiciones*/

.resumen-compra .contenedor-checkbox {
  display: flex;
  position: relative;
  margin: 1%;
  width: 85%;
  padding: 3%;
  cursor: pointer;
}

.resumen-compra .contenedor-checkbox input {
  opacity: 0;
  cursor: pointer;
}

.resumen-compra .contenedor-checkbox .checkmark {
  position: absolute;
  top: 19%;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #411016;
  border-radius: 5px;
}

.resumen-compra .contenedor-checkbox input:checked ~ .checkmark {
  background-color: #FFFFFF;
  border: 1px solid #411016;
  border-radius: 5px;
}

.resumen-compra .contenedor-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.resumen-compra .contenedor-checkbox input:checked ~ .checkmark:after {
  display: block;
  width: 4px;
  height: 4px;
}

.resumen-compra .contenedor-checkbox .checkmark:after {
  left: 2px;
  top: 2px;
  border: 5px solid #411016;
  border-radius: 2px;
  background: #411016;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.boton-pago {
  background: #FFFFFF;
  border: 1px solid #411016;
  border-radius: 50px;
  color: #411016;
  font-size: 1em;
  width: 300px;
  height: 38px;
  margin: 2%;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.15));
}

.boton-pago:hover {
  background: #D70021;
  border: 1px solid #D70021;
  border-radius: 50px;
  color: #FFFFFF;
  font-size: 1em;
  width: 300px;
  height: 38px;
  margin: 2%;
  cursor: pointer; 
}

/*Footer*/
.mediosdepago-empresas {
  width: 80%;
}

.mediosdepago-sitioseguro {
  display: flex;
  justify-content: center;
  padding: 0 13%;
}

.mediosdepago-sitioseguro img {
  margin: 0 2%;
}

.mediosdepago-sitioseguro h4 {
  color: #2E2E2E;
}

.mediosdepago-empresas {
  display: flex;
}

.derechosydesarrollo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.derechosydesarrollo p:nth-child(1) {
  display: flex;
}

.derechosydesarrollo p:nth-child(2) {
  display: none;
}

.desarrollado-por {
  display: flex;
  width: 28%;
}

.desarrollado-por img {
  margin: 3%;
}

@media screen and (max-width: 600px) {
  
  /*Mobile*/

  /*Header mobile*/

  .top-banner {
    font-size: .9rem;
  }

  /*Menú mobile*/
  .logo-buscador, .menu {
  display: none;
  }

  .menu-mobile {
    display: block;
    background-color: #F4F4F4;
  }

  .menu-mobile-logo {
    display: flex;
    justify-content: space-around;
    padding: 3%;
  }
  .carrito:hover, .menumobileicono:hover {
    cursor: pointer;
  }

  .menu-mobile hr {
    border: 1px solid #BDBDBD;
  }

  .logo-buscador1 {
    display: flex;
    justify-content: center;
    margin: 2%;
  }

  .logo-buscador1 input {
    width: 80%;
    border-radius: 20px;
    padding: 1em;
    border: none;
  }

  .buscar {
    width: 80%;
  }

  .buscar::before {
    top: 9px;
    z-index: 0;
  }

  /*Navegador Mobile*/

  nav {
    height: 65px;
  }

  nav ul {
    display: block;
  }

  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    left: 0px;
    z-index: 2;
    -webkit-user-select: none;
    user-select: none;
    
  }

  #menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #menuToggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #411016;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #411016;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }

  .navegador-mobile {
    position: absolute;
    width: 180px;
    height: 420px;
    box-shadow: 0 0 10px #85888C;
    margin: -36px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  .navegador-mobile li {
    padding: 10px 0;

  }

  .navegador-mobile a {
    text-decoration: none;
    color: #411016;
    opacity:1;
    font-size: 1.5em;
    font-weight: 400;
    transition: 200ms;
  }

  .navegador-mobile a:hover {
    color: #D70021;
    text-decoration: underline;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }


  .submenu {
    display: none;
    position: unset;
    background-color: #F4F4F4;
    z-index: 2;
  }

  .submenu li:hover {
    color: #D70021;
    text-decoration: underline;
  }

  .productos:hover .submenu {
    display: block;
    left: 4.5vw;
    padding: 1vw 6vw 0.6vw 1vw;
    width: max-content;
    cursor: pointer;
  }

  /*Banner principal mobile*/

  .imagenbannerprincipal { 
    display: none;
  }

  .imagenbannerprincipalmobile {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .textocolombia {
    top: 1%;
    left: 8%;
    font-size: 12vw;
    line-height: 5vw;
  }

  .textodisfruta {
    top: 12%;
    left: 9%;
    font-size: 7vw;
    line-height: 8vw;
  }

  .carruselprincipal-boton {
    top: 81%;
    left: 24%;
    width: 180px;
    height: 20px;
  }

  /*Banner1 mobile*/

  .banner1 {
    display: none;
  }

  .banner1-mobile {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 4% 0;
  }

  .banner1-mobile img {
    margin: 2% 1%;
    border-radius: 5%;
  }

  .bannercomparte-mobile {
    position: relative;
    width: 332px;
    margin: 0 0 10% 1%;
  }
  
    
  .bannercomparte-mobile:hover {
    cursor: pointer;
  }
    
  .bannercomparte-mobile:hover .banner1-boton {
    display: block;
    cursor: pointer;
  }
    
  .bannercomparte-mobile:hover .background {
    display: flex;
    cursor: pointer;
  }

  .swiper-container-banner1 {
    width: 100%;
    height: 100%;
  }

  .swiper-slide-banner1 {
    margin: 3% 0;
    width: 69%;
  }

  .comparteamigos {
    width: 100%;
  }

  .textocomparte {
    width: 48%;
    top: 7%;
    left: 41%;
}

  .recetas {
    width: 100%;
  }

  .textorecetas {
    width: 60%;
  }

  .conocehistoria {
    width: 100%;
  }

  .swiper-pagination-banner1 {
    bottom: 2%;
  }

  .textoconoce {
    width: 78%;
  }

  .banner1-boton {
    top: 81%;
    left: 16%;
    padding: 11px 43px;
  }

  .background {
    width: 255px;
    height: 323px;
    top: 5px;
    border-radius: 13px;
  }

  /*Carrusel categorías mobile*/

  .categoriasprincipales {
    display: none;
  }
    
  .carruselcategorias-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #000;
    margin: 0;
  }

  .carruselcategorias-mobile img {
    margin: 2% 1%;
    border-radius: 5%;
  }
    
  .swiper-container-carruselcategorias {
    width: 100%;
    height: 100%;
  }

  .swiper-slide-carruselcategorias {
    text-align: center;
    font-size: 18px;
    width: 53%;
    margin: 0 0 7% 0;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide-carruselcategorias img {
    display: block;
    object-fit: cover;
    margin: 2% 1%;
    border-radius: 5%;
  }

  .swiper-pagination-carruselcategorias {
    bottom: 2%;
  }


  /*Carrusel productos recomendados mobile*/

  .carruselproductosrecomendados {
    padding: 0 8% 8%;
  }

  .swiper-pagination3 {
    width: 10%;
  }

  .swiper-button-next3 {
    display: none;
  }

  .swiper-button-prev3 {
    display: none;
  }

  /*Estilo productos*/

  .productohome:hover .precioanterior {
    display: block;
  }

  .avisoahorro {
    visibility: hidden;
  }

  .avisoahorro::before {
    content: " -30% ";
    visibility: visible;
    position: absolute;
    top: 3%;
    left: 5%;
    background: #C5292C;
    border-radius: 7.7vw;
    border: none;
    color: white;
    padding: 2% 5%;
    font-weight: bold;
  }

  .productohome-boton {
    width: 150px;
  }

  /*Sobre Juan Valdez*/

  .sobrejuanvaldez img {
    content: url(img/sobre-juan-valdez-mobile.png);
  }

  /*Carrusel nuevos lanzamientos mobile*/

  .carruselnuevoslanzamientos {
    padding: 0 8% 8%;
  }

  .swiper-pagination4 {
    width: 10%;
  }
  .swiper-button-next4 {
    display: none;
  }

  .swiper-button-prev4 {
    display: none;
  }

  /*Estilo productos*/

  .productohome2:hover .precioanterior2 {
    display: block;
  }

  .avisoahorro2 {
    visibility: hidden;
  }

  .avisoahorro2::before {
    content: " -30% ";
    visibility: visible;
    position: absolute;
    top: 3%;
    left: 5%;
    background: #C5292C;
    border-radius: 7.7vw;
    border: none;
    color: white;
    padding: 2% 5%;
    font-weight: bold;
  }

  /*Footer mobile*/

  footer {
    border-radius: 5.7vw 5.7vw 0 0;
  }

  /*Footer suscripción mobile*/

  .suscripcion {
    flex-direction: column;
  }

  .suscripcion p {
    width: 100%;
  }

  /*Footer inscripción mobile*/

  .inscripcion {
    width: 90%;
    margin: 2%;
  }

  .inscripcion #email {
    padding: 5% 17% 5% 7%;
    border-radius: 7vw 0 0 7vw;
  }

  .inscripcion #enviar {
    padding: 1% 3%;
    border-radius: 0 7vw 7vw 0;
  }

  label {
    font-size: .9rem;
  }

  .siguenos {
    width: 62%;
  }

  .siguenos span {
    height: 6vw;
  }

  footer hr {
    width: 90%;
  }

  /*Footer contacto*/

  .contacto  {
    display: flex;
    flex-direction: column;
    padding: 0 10%
  }

  .medios-pago {
    display: flex;
    flex-direction: column;
    padding: 0 15%;
  }

  .contacto ul, .columnas__ubicacion, .logosinfondo, .medios-pago img {
    display: none;
  }

  .columnas h4, .medios-pago h4 {
    display: flex;
    justify-content: space-between;
    margin: 2%;
  }

  .columnas h4::after, .medios-pago h4::after {
    content:url(img/iconos/icono-abrir.svg);
  }

  .columnas ::after, .medios-pago ::after {
    transform: rotate(0deg);
    transition: transform .1s ease-in-out;
  }

  .columnas:hover ::after, .medios-pago:hover ::after {
    transform: rotate(90deg);
  }

  .columnas:hover ul, .columnas:hover div, .medios-pago:hover img {
    display: block;
  }

  .columnas:hover .columnas__ubicacion, .medios-pago:hover img {
    display: flex;
    justify-content: center;
  }

  .columnas ul, .columnas {
    margin: 2% 6%;
  }

  .medios-pago-imagenes {
    width: 78%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 9%;
  }

  .logosinfondo-mobile {
    display: flex;
    justify-content: center;
  }

  .logosinfondo-mobile img {
    width: 30%;
    margin: 2% 0;
  }

  /*Página compra productos*/

  /*Encabezado*/
  
  .cabecero-compra-productos img {
    width: 25%;
  }
  
  .ayuda {
    width: 54%;
  }

  .compraproductos {
    margin: 6% 6%;
    display: block;
  }

  .tabla-pedido {
    display: none;
  }

  .tabla-pedido-mobile {
    margin: 6% 0;
    width: 100%;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
  }

  .tabla-pedido-mobile hr {
    width: 90%;
    border: 1px solid #BDBDBD;
    opacity: 0.2;
  }

  .contenidoproductos-mobile {
    display: flex;
    align-items: center;
    margin: 4% 0;
  }

  .contenidoproductos-mobile img {
    width: 70%;
  }

  .detalle-productos-mobile div:nth-child(1) {
    display: flex;
    align-items: center;
    margin: 0 0 8% 0;
  }

  .detalle-productos-mobile p {
    margin: 0;
  }

  .detalle-productos-mobile div:nth-child(2) {
    color: #BDBDBD;
  }

  .detalle-productos-mobile div:nth-child(3)  {
    display: flex;
    align-items: center;
  }

  .detalle-productos-mobile div:nth-child(4)  {
    display: flex;
    align-items: center;
  }

  .detalle-productos-mobile div:nth-child(4) p {
    margin: 5% 5% 5% 0;
  }

  .detalle-productos-mobile button {
    background-color: #E0E0E0;
    border: none;
    width: 43px;
    height: 30px;
    border-radius: 50px;
    font-size: 1em;
    margin: 5%;
  }

  .detalle-productos-mobile button:hover {
    background-color: #C5292C;
    color: #FFFFFF;
  }
  
  .detalle-productos-mobile button:active {
    background-color: #4A4A4A;
  }

  .resumen-compra {
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
  }

  .boton-codigodescuento {
    border: 1px solid #D70021;
    color: #D70021;
  }

  .boton-no-seleccionado {
    width: 135px;
  }

  .boton-seleccionado {
    width: 135px;
  }

  .valores-precio:nth-child(1) p,.valores-precio:nth-child(2) p {
    line-height: 2em;
  }

  .boton-continuar-compra {
    margin: 1% 0 5%;
  }

  /*Footer página compra productos*/

  footer {
    background-color: #FFFFFF;
    border-radius: 0;
  }

  .mediosdepago-sitioseguro {
    flex-direction: column;
    padding: 0;
  }

  .mediosdepago-sitioseguro h4 {
    text-align: center;
  }

  .mediosdepago-sitioseguro img {
    margin: 0 2%;
  }

  .mediosdepago-empresas {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80%;
    padding: 0 10%;
  }

  .derechosydesarrollo {
    flex-direction: column;
    align-items: unset;
  }

  .derechosydesarrollo p:nth-child(1) {
    display: none;
  }
  
  .derechosydesarrollo p:nth-child(2) {
    display: block;
    color: #000000;
  }

  .desarrollado-por {
    width: 70%;
  }
}